#playlist {
    padding: 0;
    display: block;
    clear: both;
    background: transparent;
    list-style: none;
    margin: 0px;
    overflow: auto;
    height: calc(50% - 1.5em);
    font-size: 0.9em;
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.1);
}

#playlist .track {
    background: rgba(0, 0, 0, 0.8);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    width: 100%;
    display: block;
    margin: 0px;
    padding: 0.8em; 
    color: #fff; 
}

.panel-primary.panel-primary-custom {
  border-color: #5D6C79;
}

.panel-primary > .panel-heading {
  color: #fff;
  background-color: #337ab7;
  border-color: #337ab7;
}

.panel-primary > .panel-heading.panel-heading-custom {
    background-color: #5D6C79;
    border-color: #5D6C79;
}