
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--<link rel="icon" href="../../favicon.ico">-->

    <title>My Test Site</title>

    
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" >
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/custom.css') }}" >
    
    <!--
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/custom.css" rel="stylesheet">
    -->

  </head>

  <body>

    <nav class="navbar navbar-inverse">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">ˊ_>ˋ</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#" data-toggle="modal" data-target="#myModal">Demo</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="col-md-6">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>#</th>
            <th>Artist Name</th>
            <th>Track Title</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td><input id="artist-1" class="form-control" value="jason mraz"></td>
            <td><input id="track-1" class="form-control" value="geek in the pink"></td>
          </tr>
          <tr>
            <td>2</td>
            <td><input id="artist-2" class="form-control"></td>
            <td><input id="track-2" class="form-control"></td>
          </tr>
          <tr>
            <td>3</td>
            <td><input id="artist-3" class="form-control"></td>
            <td><input id="track-3" class="form-control"></td>
          </tr>
        </tbody>
      </table>
      <button type="button" class="btn btn-default" style="float: right;" onClick="getRecommend()">Recommend</button>
    </div>
    <div class="col-md-3">
      <h3>Here is what I recommend...</h3>
      <!--
      <ol id="playlist">
        <li class="track">I'm Yours - Jason Mraz</li>
        <li class="track">You Give Me Something - James Morrison</li>
        <li class="track">Wherever You Will Go - The Calling</li>
        <li id="recommend" class="track" style="display: block"><img class="img-thumbnail" src="http://akamai-b.cdn.cddbp.net/cds/2.0/cover/AF0A/365F/FDE4/F518_medium_front.jpg"><br>Test</li>
      </ol>
      -->
      <div id="result" class="panel panel-primary panel-primary-custom" style="display: none">
        <div class="panel-heading panel-heading-custom">
          <h3 id="resultTrack" class="panel-title">Panel title</h3>
        </div>
        <div class="panel-body">
          <img id="resultArt" class="img-thumbnail" src="{{ url_for('static', filename='F518_medium_front.jpg') }}">
        </div>
      </div>
    </div>
    <div class="clearfix"></div>

    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
      Launch Ad Track demo
    </button>

    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Modal title</h4>
          </div>
          <div class="modal-body">
            ...
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
          </div>
        </div>
      </div>
    </div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/respond.js') }}"></script>
    <script src="{{ url_for('static', filename='js/process.js') }}"></script>
    
    <!--
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/respond.js"></script>
    <script src="js/process.js"></script>
    -->
  </body>
</html>
